<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head">
</head>
<body>
<header th:replace="fragments/commons::nav"></header>

<section class="about">
    <h1 th:text="#{about_title}"></h1>
    <p th:text="#{about_description_1}">
    </p>

    <img src="/images/щампован1.jpg" class="about-img">
    <p class="about-p" th:text="#{about_description_2}"></p>
    <img src="/images/щампован2.jpg" class="about-img">
    <a th:href="@{/contacts}" class="btn about-btn" th:text="#{about_btn_contacts}"></a>
</section>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>