<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/exstras/spring-security">
<head th:replace="fragments/commons::head">
</head>
<body class="products">
<header th:replace="fragments/commons::nav">
</header>

<h5 th:replace="fragments/commons::congrats"></h5>

<div class="container products-container">
    <div class="row products-row">
            <div class="col-sm-6 col-lg-4" th:each="p : ${products}" th:object="${p}">
                <img th:src="*{pictureUrl}" class="product-img-top" alt="Image title">
                <div class="card-body">
                    <h1 th:class="product-title" th:text="*{name}" class="product-title"></h1>
                    <p th:text="*{description}" class="product-text"></p>
                    <p th:text="*{price}" class="product-price"></p>
                </div>
                <a th:href="@{/products/details/{id}(id = *{id})}" class="btn btn-secondary">Виж повече</a>
            </div>
    </div>
</div>
</div>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>