<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head">
</head>
<body>
<form class="form-reg-container"
      th:object="${userRegisterBindingModel}"
      th:action="@{/users/register}"
      th:method="POST">>
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12"></div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <h1 class="titles-form">Регистрация</h1>
            <div class="form-group">
                <div class="col-auto">
                    <label for="inputUsername" class="col-form-label ">Потребителско име</label>
                </div>
                <div class="col-auto">
                    <input th:field="*{username}" th:errorclass="is-invalid"
                           type="text" class="form-control" id="inputUsername" aria-describedby="usernameHelpInline">
                    <small id="usernameError"
                           class="invalid-feedback bg-danger text-light rounded">Потребителското име трябва да съдържа 3
                        или повече символа.</small>
                </div>
            </div>
            <div class="form-group">
                <div class="col-auto">
                    <label for="inputFullName" class="col-form-label ">Име и фамилия</label>
                </div>
                <div class="col-auto">
                    <input th:field="*{fullName}" th:errorclass="is-invalid"
                           type="text" class="form-control" id="inputFullName" aria-describedby="fullNameHelpInline">
                    <small id="fullNameError"
                           class="invalid-feedback bg-danger text-light rounded">Името и фамилията трябва да съдържат 5
                        или повече символа.</small>
                </div>
            </div>
            <div class="form-group">
                <div class="col-auto">
                    <label for="inputEmail" class="col-form-label ">Емейл</label>
                </div>
                <div class="col-auto">
                    <input th:field="*{email}" th:errorclass="is-invalid"
                           type="text" class="form-control" id="inputEmail" aria-describedby="emailHelpInline"
                           required min="3" >
                    <small id="emailError"
                           class="invalid-feedback bg-danger text-light rounded">Емейла трябва да съдържат @.</small>
                </div>
            </div>
            <div class="form-group">
                <div class="col-auto">
                    <label for="inputAge" class="col-form-label ">Възраст</label>
                </div>
                <div class="col-auto">
                    <input th:field="*{age}" th:errorclass="is-invalid"
                           type="text" class="form-control" id="inputAge" aria-describedby="ageHelpInline">
                    <small id="ageError"
                           class="invalid-feedback bg-danger text-light rounded">Възрастта не може да бъде отрицателно
                        число.</small>
                </div>
            </div>
            <div class="col-auto">
                <label for="inputPassword" class="col-form-label ">Парола</label>
            </div>
            <div class="col-auto">
                <input th:field="*{password}" th:errorclass="is-invalid"
                       type="password"
                       id="inputPassword"
                       class="form-control"
                       aria-describedby="passwordHelpInline">
                <small id="passwordError"
                       class="invalid-feedback form-text bg-danger text-light rounded">
                    Паролата трябва да съдържа 3 или повече символа.
                </small>
            </div>
            <div class="col-auto">
                <label for="inputConfirmPassword" class="col-form-label ">Потвърди паролата</label>
            </div>
            <div class="col-auto">
                <input th:field="*{confirmPassword}" th:errorclass="is-invalid"
                       type="password"
                       id="inputConfirmPassword"
                       class="form-control"
                       aria-describedby="confirmPasswordHelpInline">
                <small id="confirmPasswordError"
                       class="invalid-feedback form-text bg-danger text-light rounded">
                    Паролата трябва да съдържа 3 или повече символа.
                </small>
            </div>
            <button type="submit" class="btn btn-success ">Потвърждение</button>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12"></div>
    </div>
</form>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>